* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;

  &-header {
    padding: 1rem 0;
    background-color: #3b424e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin-bottom: 2rem;
    svg {
      font-size: 1.8rem;
      margin-right: 0.5rem;
    }
    h1 {
      line-height: 1;
      text-transform: uppercase;
      font-size: 2rem;
    }
  }
}
.Todolist {
  h2 {
    text-transform: uppercase;
  }
  .Todo {
    background-color: #3b424e;
    box-shadow: 0 1px 2px #1f2127;
    border: 1px solid white;
    margin: 1rem;
    padding: 0.5rem 0;
    min-height: 10vh;
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      text-transform: uppercase;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: clamp(1rem, 6vw, 2rem);
      overflow-wrap: break-word;
      position: relative;
      left: 2.5rem;
      width: calc(100% - 5rem);
    }

    p {
      margin-top: auto;
    }

    &-done {
      border-right: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      &:hover {
        background-color: rgb(190, 189, 189);
        color: #3b424e;
      }
    }

    &-edit {
      border-left: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(66, 146, 122);
      width: 2.5rem;
      height: 50%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      &:hover {
        background-color: rgb(190, 189, 189);
        color: #3b424e;
      }
    }
    &-close {
      border-left: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(192, 63, 63);
      width: 2.5rem;
      height: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      z-index: 1;
      &:hover {
        background-color: rgb(190, 189, 189);
        color: #3b424e;
      }
    }
  }
}

.done {
  background-color: greenyellow;
  color: #3b424e;
}
.not-done {
  background-color: gray;
  color: #3b424e;
}
.Todo-close.closed {
  height: 100%;
  top: 0;
}
.separator {
  border-bottom: 1px solid white;
  display: block;
  margin: 2rem 20% 1rem;
}

.Todo-card {
  background-color: #3b424e;
  margin: 0 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  box-shadow: 0 1px 2px #1f2127;

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;

    input,
    textarea {
      margin: 0.3rem 0.5rem;
      padding: 0.3rem;
      border: 1px solid #596170;
      background-color: #282c34;
      color: white;
    }
  }

  button {
    background-color: #596170;
    border: 0;
    border-radius: 3px;
    padding: 0.5rem 0.7rem;
    color: white;
    box-shadow: 0 1px 2px #282c34;
  }
}
