* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;

  &-header {
    padding: 1rem 0;
    background-color: #3b424e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin-bottom: 2rem;

    h1 {
      line-height: 1;
      text-transform: uppercase;
    }
  }
}
.Todolist {
  h2 {
    text-transform: uppercase;
  }
  .Todo {
    background-color: #3b424e;
    border: 1px solid white;
    margin: 1rem;
    height: 100%;
    z-index: 0;
    position: relative;

    &-done {
      border-right: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      &:hover {
        background-color: rgb(190, 189, 189);
        color: #3b424e;
      }
    }

    &-edit {
      border-left: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: gray;
      width: 2.5rem;
      height: 50%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      &:hover {
        background-color: rgb(190, 189, 189);
        color: #3b424e;
      }
    }
    &-close {
      border-left: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: gray;
      width: 2.5rem;
      height: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      z-index: 1;
      &:hover {
        background-color: rgb(190, 189, 189);
        color: #3b424e;
      }
    }
  }
}

.done {
  background-color: greenyellow;
  color: #3b424e;
}
.not-done {
  background-color: gray;
  color: #3b424e;
}
.Todo-close.closed {
  height: 100%;
  top: 0;
}
.separator {
  border-bottom: 1px solid white;
  display: block;
  margin: 2rem 20% 1rem;
}
